paddlepaddle==2.1.0
paddlehub==2.1.0
sentencepiece==0.1.96
git+https://github.com/jina-ai/jina-commons
lmdb==1.2.1
click==7.1.2
git+https://github.com/jina-ai/jina.git@fix-targepeapod-2910#egg=jina[hub,http]
